.Left-Body{
    bottom: 0;
    height: auto;
    color: white;

}

.item{
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
}

.item:hover{
    background-color: #800D20;
}

.selected-item{
    background-color: #800D20;
}