.Right-Body{
    height: 70%;
    background-color: #EFF1F2;
}

.messages {
    border: 0px solid #189d0e;
    border-radius: 32px;
    color: black !important;
    display: inline-block;
    margin: 10px 0 0;
    padding: 9px 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    margin: 1% 1% 0% 1%;
    background-color: white;
    max-width: 50%;
}

.author {
    border-radius: 32px;
    padding: 0px 16px 16px 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    display: table;
}

.user-author {
    border: 0px solid #189d0e;
    border-radius: 32px;
    color: white !important;
    display: inline-block;
    margin: 10px 0 0;
    padding: 9px 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    margin: 1% 1% 0% 1%;
    background-color: #FF1940;
    max-width: 50%;
    text-align: left;
}

.author-hidden{
    display: none;
}

.pull-right {
    text-align: right;
}